<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
</head>
<body>
<h1>Successfully Logged In!</h1>
<p>Check the console for your top tracks and artists.</p>

<script type="text/javascript">
    if (window.location.hash === '#_=_') {
        history.replaceState
            ? history.replaceState(null, null, window.location.href.split('#')[0])
            : window.location.hash = '';
    }
</script>
</body>
</html>
